<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/common.css">
    <link rel="stylesheet" type="text/css" href="../styles/profile-container.css">
    <title rel="shortcut icon">😊 Movie Reviews</title>
    <link rel="shortcut icon" href="../res/logo.png" />
</head>
<body>

<div class="top-bar">
    <div class="logo">映画批評</div>
    <nav>
        <button class="menu-button" id="main" onclick="navigateTo('/')">Главное</button>
        <button class="menu-button" id="favorites" onclick="navigateTo('/favorites')">Моё</button>
        <% if (session.user && session.user.id === 1) { %>
            <button class="menu-button" id="panel" onclick="navigateTo('/panel')">Панель</button>
        <% } %>
        <button class="menu-button" id="search" onclick="navigateTo('/search')">Поиск</button>
        <button class="menu-button active" id="profile" onclick="navigateTo('/profile')">Профиль</button>
    </nav>
</div>


<div class="profile-container">
    <form id="profileForm">
        <input type="text" id="name-box" value="<%= user.name %>" placeholder="Фамилия Имя">
        <input type="text" id="username-box" value="<%= user.username %>" placeholder="Username">
        <input type="password" id="old-password-box" placeholder="Старый пароль">
        <input type="password" id="new-password-box" placeholder="Новый пароль">
        <div class="error-message" id="errorMessage"></div>
        <div class="message" id="message"></div>
        <button class="default-button" type="button" onclick="updateProfile()">Сохранить</button>
        <button class="text-button" type="button" onclick="logOut()">Выйти</button>
        <% if (session.user && session.user.id !== 1) { %>
            <div class="edit-buttons">
                <button class="text-button" type="button" onclick="deleteAccount()">Удалить аккаунт</button>
            </div>
        <% } %>
    </form>
</div>

<footer>
    <div class="footer">
        <a class="git-button" id="github" href="https://github.com/eyonyann/Course-project-3" target="_blank">GitHub</a>
    </div>
</footer>

<script>
    // Определяем грустный смайлик
    const sadSmiley = '😞';

    // Функция для обработки события изменения видимости вкладки
    function handleVisibilityChange() {
        if (document.hidden) {
            document.title = sadSmiley + ' Movie Reviews'; // Изменяем заголовок вкладки на грустный смайлик
        } else {
            document.title = '😊 Movie Reviews'; // Возвращаем исходный заголовок вкладки
        }
    }

    // Добавляем обработчик события изменения видимости вкладки
    document.addEventListener('visibilitychange', handleVisibilityChange);
    const errorMessage = document.getElementById('errorMessage');
    const message = document.getElementById('message');

    async function updateProfile() {
        const name = document.getElementById('name-box').value;
        const username = document.getElementById('username-box').value;
        const oldPassword = document.getElementById('old-password-box').value;
        const newPassword = document.getElementById('new-password-box').value;

        try {
            const response = await fetch('/profile', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'  // Указываем тип контента как JSON
                },
                body: JSON.stringify({ name, username, oldPassword, newPassword })  // Сериализуем данные в JSON
            });

            const responseData = await response.json(); // Парсим JSON ответ

            if (response.ok) {
                message.textContent = responseData.message;
                errorMessage.textContent = '';
            } else {
                message.textContent = '';
                errorMessage.textContent = responseData.error;
            }
        } catch (error) {
            console.error('Failed to update profile:', error);
            alert('Ошибка соединения или сервера при обновлении профиля');
        }
    }

    async function logOut() {
        try {
            const response = await fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            const responseData = await response.json();

            if (response.ok) {
                // Успешный выход из системы, перенаправляем на страницу входа
                window.location.href = '/signIn';
            } else {
                // Обработка ошибки
                console.error('Failed to log out:', responseData.error);
                alert('Ошибка при выходе из системы');
            }
        } catch (error) {
            console.error('Failed to log out:', error);
            alert('Ошибка соединения или сервера при выходе из системы');
        }
    }

    function navigateTo(url) {
        window.location.href = url;
    }

    async function deleteAccount() {
        // Запрос на подтверждение удаления аккаунта
        const confirmation = confirm("Вы уверены, что хотите удалить свой аккаунт? Это действие нельзя отменить.");

        if (confirmation) {
            try {
                const response = await fetch('/deleteAccount', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                const responseData = await response.json();

                if (response.ok) {
                    // Успешное удаление аккаунта, перенаправляем на страницу входа
                    window.location.href = '/signIn';
                } else {
                    // Обработка ошибки
                    console.error('Failed to delete account:', responseData.error);
                    alert('Ошибка при удалении аккаунта');
                }
            } catch (error) {
                console.error('Failed to delete account:', error);
                alert('Ошибка соединения или сервера при удалении аккаунта');
            }
        }
    }





</script>

</body>
</html>
