.big-movie-container {
    max-width: 800px; /* Adjust width as needed */
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* subtle shadow for depth */
    background: #FFFFFF; /* white background */
    border-radius: 10px; /* rounded corners */
    display: flex;
    align-items: flex-start; /* align items to the start of the flex container */
    flex-direction: column;
}


.poster {
/*    max-width: 100%;*/ /* ensure image is responsive and doesn't overflow */
    max-width: 400px;
    height: auto;
    border-radius: 20px; /* rounded corners */
    margin-right: 30px; /* space between the poster and the text */
}

.movie-content {
    display: flex;
    flex-direction: column;
    color: #333;
}


.poster-and-content {
    display: flex;
    flex-direction: row;
}

.movie-title {
    font-family: 'Stara', sans-serif;
    font-size: 32px;
    font-weight: 800;
    margin: 10px 0;
    color: #353535;
}

.movie-details p {
    margin: 5px 0; /* uniform space between detail lines */
    font-size: 16px; /* appropriate font size for details */
    color: #666; /* lighter color for detail text */
}

.movie-description {
    padding: 15px 0; /* space above and below the description */
    border-top: 1px solid #eee; /* subtle line to separate the description */
    margin-top: 20px; /* space between details and description */
    color: #353535;
    font-size: 16px;
    line-height: 1.5; /* line height for readability */
}

.rating-section {
    margin-top: 50px;
    color: #353535;
    font-family: 'Stara', sans-serif;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.big-rating {
    margin-left: auto;
    margin-right: 10px;
}

.rating-star {
    color: #353535;
    font-family: 'Stara', sans-serif;
    font-size: 40px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
/*    margin-right: 5px;*/
}

.rating-star:hover {
    background-color: #C23939;
    color: #fff;
}

.review-section {
    margin-top: 50px;
    color: #353535;
    font-family: 'Stara', sans-serif;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.review-form {
    align-items: center;
    margin-top: 50px;
    font-family: 'Stara', sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

.form-epigraph {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 15px;
    color: #353535;
    background-color: #E9D3A8;
    outline: none; /* Remove the default focus outline */
    width: 500px; /* Adjust as necessary */
    margin-bottom: 30px;
}

.form-text {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 15px;
    color: #353535;
    background-color: #E9D3A8;
    outline: none; /* Remove the default focus outline */
    width: 750px;
    height: 300px;
    margin-bottom: 30px;
}

.form-epigraph::placeholder, .form-text::placeholder {
    color: rgba(53, 53, 53, 0.7);
}

.review-buttons {
    align-content: center;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.review-form-accept {
    justify-content: center;
    padding: 10px 20px;
    font-size: 40px;
    font-weight: bold;
    background-color: #E9D3A8; /* Button background color */
    border: none;
    border-radius: 15px;
    color: #C23939;
    cursor: pointer;
}

.review-form-cancel {
    margin-right: 20px;
    justify-content: center;
    padding: 10px 20px;
    font-size: 40px;
    font-weight: bold;
    background-color: #ffffff; /* Button background color */
    border: none;
    border-radius: 15px;
    color: #C23939;
    cursor: pointer;
}

.review-form-accept:hover, .review-form-cancel:hover {
    color: #E9D3A8;
    background-color: #C23939;
    box-shadow: 0 0 0 3px #C23939;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}

.review-section span {
    margin-top: 50px;
}

.review-button {
    background: #E9D3A8;
    border: none;
    color: #353535;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 32px;
    border-radius: 15px;

    font-weight: bold;
    transition: color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.review-button:hover {
    background-color: #C23939;
    color: #E9D3A8;
}

.review {
    margin-top: 40px;
    color: #353535;
    background-color: #E9D3A8;
    font-family: 'Stara', sans-serif;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 20px;
    padding: 20px 30px;
}

.review-top-bar {
    display: flex;
    flex-direction: row;
}

.review-like {
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    font-size: 30px;
    background: #E9D3A8;
    border-radius: 15px;
    border: none;
}

.review-like:hover {
    transition: font-size 0.3s ease, background 0.3s ease;
    background: #C23939;
}

.review-like-active {
    background: #C23939;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 15px;
    border: none;
}

.review-username {
    font-size: 40px;
    font-weight: 800;
}

.review-epigraph {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 550;
}

.review-text {
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
}