.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    padding: 20px;
}

.search-container form {
    display: flex;
    align-items: center;
}

#search-box {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-right: 20px;
    color: #353535;
    background-color: #ffeecf;
    outline: none; /* Remove the default focus outline */
    width: 500px; /* Adjust as necessary */
}

#search-box::placeholder {
    color: rgba(53, 53, 53, 0.7); /* Placeholder/ "Поиск" text color */
}

/*
.search-container button {
    padding: 10px 20px;
    font-size: 40px;
    font-weight: bold;
    background-color: #C23939; !* Button background color *!
    border: none;
    border-radius: 15px;
    color: #ffeecf;
    cursor: pointer;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}



.search-container button:hover, .search-container button.active {
    color: #ffeecf;
    background-color: #C23939;
    box-shadow: 0 0 0 3px #C23939; !* Add the 'glowing' effect *!
}

.search-container button:not(:hover):not(.active) {
    box-shadow: none;
}*/
